h1, h2 {
	font-family: sans-serif;
}

h4 {
	margin: 1em 0 0.2em 0; 
}

div.main_chapters {
	margin-bottom: 4em;
}

div#footer {
	margin-bottom: 0;
	text-align: center;
}

div#intro, div#objDict, div#objDictManuf, div#objDictProfile {
	page-break-before: always;
}

div#intro>table, div#intro>p {
	margin-left: 2em;
}

div#identity table{
	margin-left: 2em;
}

/*Tables*/
table {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	border: 1px solid black;
	padding: 1px 0.3em;
}

td {
	border: 1px solid black;
	padding: 1px 0.6em 1px 0.3em;
}


/*Elements (like Features or objects)*/
div.elements {
	margin-bottom: 3em;
	page-break-inside: avoid;
}

div.elements > h3 { margin-left: 0; }
div.elements > * { margin-left: 2em; }

div.elements pre { margin-left: 1em; }


/*Labels in different languages*/
div.description > h4 { margin-left: 0; }
div.description > * { margin-left: 1em; }
